*{
  text-align: center;
  /* border: 1px solid black; */
}

.App {
  text-align: center;
}

.tools{
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 1rem;
  width: 95%;
}

.dropDown select{
  margin: 1rem;
}

.extra button{
  margin: 1rem;
}

.plantSection hr{
 width: 50%;
}

.plantList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.plant{
  width: 70%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.plantInfo{
  background-color: papayawhip;
  padding: 2rem;
  width: 50%;
  transition: transform .2s;
  border-radius: 2%;
}

.plantInfo:hover{
  transform: scale(1.5);
}

.info{
  width: 100%;
}

.plant hr{
  width: 30%;
  margin: 7rem;
}

ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 36px;
  padding: 12px;
  width: 40%;
  margin-left: 55%;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
}

li {
  list-style: none;
  margin-right: 6px;
  color: #204963;
}

h1{
  text-align:left;
}

img {
  max-width: 50%;
  border-radius: 5px;
}

p {
  color: rgb(9, 116, 9);
  text-shadow: 1px 1px 2px rgb(169, 139, 139);
}
div {
  color:rgb(19, 53, 19)
}




ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 36px;
  padding: 12px;
  width: 40%;
  margin-left: 55%;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
}

li {
  list-style: none;
  margin-right: 6px;
  color: #204963;
}

h1{
  text-align:left;
  color: gray;
  margin-left: 3%;
}


/* nav styling */
.li {
  color:gray;
  font-size: 1.1rem;
  text-decoration: none;
  width: 100%;
}

.li:hover {
  color: seagreen;
}

/* login & signup styling */
.login, .top {
  font-size: 2.1rem;
  color: rgba(9, 116, 9);
  background-color: white;
  border-radius: 2%;
  height: 60vh;
  width: 25%;
  position: relative;
  left: 35%;
  box-shadow: 0px 1px 1px 1px rgb(124, 124, 124);
}

h2 {
  font-size: 2rem;
  padding: 2%;
  color: rgba(9, 116, 9)
}

small {
  font-size: 1rem;
}

.form-box, .style {
  height: 5vh;
  width: 70%;
  outline: none;
  background-color: white;
  border-left: none;
  border-right: none;
  border-top: none;
  border-color: rgba(9, 116, 9);
}

.submitBtn {
  height: 6vh;
  width: 70%;
  background-color: rgba(9, 116, 9);
  color: black;
  border: 2px solid rgba(9, 116, 9);
  border-radius: 25px;
  font-size: 1.1rem;
  padding: 1%;
  margin-top: 8%;
}